@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'SedanSC';
	src: url('../fonts/SedanSC-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/NunitoSans.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuSans';
	src: url('../fonts/UbuntuSans.ttf');
	font-weight: normal;
	font-style: normal;
}
